<h6 *ngIf="show.chapters.length > 0" class="mt-4">{{show.name}}</h6>
<div *ngIf="show.chapters.length > 0" class="main-carousel">
  <div #chapterCells class="carousel-cell" *ngFor="let chapter of show.chapters; let last = last">
    <div class="carousel-tile" [style.background-image]="getSanitizedImageUrl()">
      <span class="tile-title card-title text-white font-weight-bold ml-1">Capitulo {{chapter.number}}</span>
      <div class="tile-play">
        <button class="btn btn-outline-primary play-btn" (click)="playChapter(chapter)"><i class="fa fa-play"></i> Play</button>
      </div>
    </div>
  </div>
</div>
